@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'material-symbols/outlined.css';

:root {
  /* Text */
  --text-dark: #644C68;
  --text-mid: #8C5994;
  --logo-typeface: 'Bangers', sans-serif;
  --a-typeface: 'Catamaran', sans-serif;
  --a-font: 700;
  --a-hover: #f7e3cd;
  /* Containers */
  --border-dark: #644C68;
  --border-light: #644C68;
  --nav-bg-dark: #8068FF;
  --nav-bg-light: #9B8EDE;
  --border-thick: 5px solid var(--border-dark);
}

/* Resets the box size of every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
  background-color: #f7e3cd;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* Matches the font of special elements to the rest of the page */
input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

/* Removes default bullet points from lists */
ol, ul {
  list-style: none;
}

button {
  appearance: none;
  cursor: pointer;
}