.item-container {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0;
  border-top: var(--border-thick);;
  background-color: var(--nav-bg-light);
  font-family: var(--logo-typeface);
  color: var(--text-mid);
  font-size: 1.5rem;
}

.item-name {
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--text-dark);
  background-color: var(--nav-bg-dark);
  border-top: var(--border-thick);
  padding: 0.5rem;
  width: 100%;
  opacity: 80%;
}

.item-name-inner {
  background-color: var(--nav-bg-light);
  padding: 0.5rem;
  width: 100%;
  opacity: 100%;
}

.item-text {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text-dark);
  cursor: pointer;
  width: 100%;
}

.item-info {
  display: flex;
  justify-content: space-between;
  font-family: var(--a-typeface);
  font-weight: 700;
  padding: 1rem;
}

.add-to-cart {
  display: block;
}

button {
  width: 100%;
  background-color: var(--nav-bg-dark);
  border-color: var(--border-dark);
  padding: 1rem;
}

button:hover {
  background-color: var(--a-hover);
}

.item-name-inner:hover {
  background-color: var(--a-hover);
}